<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Heroes form</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>

    <br><lable> Team Name: <input type="text" id="team_name" name= "team[name]"></lable>
    <br><lable> Team Motto: <input type="text" id="team_motto" name= "team[motto]"></lable>

    <h2>Hero 1</h2>
    <br><lable> Hero`s Name: <input type="text" id="hero_name_1" name= "hero[name]"></lable>
    <br><lable> Hero`s Power: <input type="text" id="hero_power_1" name= "hero[power]"></lable>
    <br><lable> Hero`s Biography: <input type="text" id="hero_bio_1" name= "hero[bio]"></lable>


    <h2>Hero 2</h2>
    <br><lable> Hero`s Name: <input type="text" id="hero_name_1" name= "hero[name]"></lable>
    <br><lable> Hero`s Power: <input type="text" id="hero_power_1" name= "hero[power]"></lable>
    <br><lable> Hero`s Biography: <input type="text" id="hero_bio_1" name= "hero[bio]"></lable>

    <h2>Hero 3</h2>
    <br><lable> Hero`s Name: <input type="text" id="hero_name_1" name= "hero[name]"></lable>
    <br><lable> Hero`s Power: <input type="text" id="hero_power_1" name= "hero[power]"></lable>
    <br><lable> Hero`s Biography: <input type="text" id="hero_bio_1" name= "hero[bio]"></lable>


      <input type="submit" value="Submit">
    </form>


  </body>
</html>
