<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Heroes form</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
    <br><lable> Team Name: <input type="text" id="team_name" name= "team[name]"></lable>
    <br><lable> Team Motto: <input type="text" id="team_motto" name= "team[motto]"></lable>

    <h2>Hero 1</h2>
    <br><lable> Hero Name: <input type="text" id="member1_name" name= "team[members][][name]"></lable>
    <br><lable> Hero Power: <input type="text" id="member1_power" name= "team[members][][power]"></lable>
    <br><lable> Hero Biography: <input type="text" id="member1_bio" name= "team[members][][bio]"></lable>


    <h2>Hero 2</h2>
    <br><lable> Hero Name: <input type="text" id="member2_name" name= "team[members][][name]"></lable>
    <br><lable> Hero Power: <input type="text" id="member2_power" name= "team[members][][power]"></lable>
    <br><lable> Hero Biography: <input type="text" id="member2_bio" name= "team[members][][bio]"></lable>

    <h2>Hero 3</h2>
    <br><lable> Hero Name: <input type="text" id="member3_name" name= "team[members][][name]"></lable>
    <br><lable> Hero Power: <input type="text" id="member3_power" name= "team[members][][power]"></lable>
    <br><lable> Hero Biography: <input type="text" id="member3_bio" name= "team[members][][bio]"></lable>


      <input type="submit" id="submit">
    </form>


  </body>
</html>
